# Server Configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Admin Security
ADMIN_SECRET_KEY=*************
ADMIN_ACCESS_TOKEN=***********

# ImageKit Configuration
IMAGEKIT_PUBLIC_KEY=****************
IMAGEKIT_PRIVATE_KEY=************************
IMAGEKIT_URL_ENDPOINT=***********************

# Firebase Configuration (Optional: provide to connect directly to Cloud Firestore)
# FIREBASE_PROJECT_ID=your-project-id
# FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project.iam.gserviceaccount.com
# FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
# Or provide the path to service account json:
# GOOGLE_APPLICATION_CREDENTIALS=./firebase-service-account.json

# Promo Code & Discount Configuration
PROMO_CODE=syntaxStudio
DISCOUNT_PERCENT=10

# Resend Email Verification Configuration
RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL=Support Studio <noreply@support-studio.work.gd>
BACKEND_URL=http://localhost:5000
